body {
    width:100%;
    height:100vh;
    display: flex; align-items:center; justify-content:center;
    background-color: #c2f2;
}
#portfolio{
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}